<section class="container">
    <h3>NUEVO USUARIO</h3>
    <form [formGroup]="formModel" (ngSubmit)="getDataForm()">
        <div>
            <label for="first_name" class="form-label">Nombre Usuario</label>
            <input formControlName="first_name" id="first_name" class="form-control" placeholder="Introduzca nombre de usuario" type="text">
        </div>
        <div>
            <label for="last_name" class="form-label">Apellido Usuario</label>
            <input formControlName="last_name" id="last_name" class="form-control" placeholder="Introduzca apellido de usuario" type="text">
        </div>
        <div>
            <label for="email" class="form-label">Email Usuario</label>
            <input formControlName="email" id="email" class="form-control" placeholder="Introduzca email de usuario" type="email">
        </div>
        <div>
            <label for="image" class="form-label">Imagen Usuario</label>
            <input formControlName="image" id="image" class="form-control" placeholder="Introduzca url de foto usuario" >
        </div>
       <input type="submit" class="btn btn-secondary  mt-3" value="Guardar">

    </form>

</section>