<section class="container">
    <h3 class="text-center">{{tipo}} USUARIO</h3>
    <form [formGroup]="formModel" (ngSubmit)="getDataForm()">
        <div>
            <label for="first_name" class="form-label">Nombre Usuario</label>
            <input type="text" formControlName="first_name" id="first_name" class="form-control" placeholder="Introduzca nombre">
       @if(checkControl('first_name', 'required') ) {
        <p class="error">Campo requerido</p>
       }
       @if(checkControl('first_name', 'minlength')) {
        <p class="error">Campo tiene que tener mínimo 3 carácteres</p>
       }
       @if(checkControl('first_name', 'pattern')) {
        <p class="error">Sólo se acepta texto alfabético</p>
       }
        </div>
        <div>
            <label for="last_name" class="form-label">Apellido Usuario</label>
            <input type="text" formControlName="last_name" id="last_name" class="form-control" placeholder="Introduzca apellido">
        @if(checkControl('last_name', 'required') ) {
        <p class="error">Campo requerido</p>
       }
       @if(checkControl('last_name', 'minlength')) {
        <p class="error">Campo tiene que tener mínimo 3 carácteres</p>
       }
       @if(checkControl('last_name', 'pattern')) {
        <p class="error">Sólo se acepta texto alfabético</p>
       }
        </div>
        <div>
            <label for="email" class="form-label">Email Usuario</label>
            <input type="email" formControlName="email" id="email" class="form-control" placeholder="Introduzca email">
        @if(checkControl('email', 'required') ) {
        <p class="error">Campo requerido</p>
       }
       @if(checkControl('email', 'pattern')) {
        <p class="error">Campo no es de tipo email</p>
       }
        </div>
        <div>
            <label for="image" class="form-label">Imagen Usuario</label>
            <input type="text" formControlName="image" id="image" class="form-control" placeholder="Introduzca url de foto" >
        @if(checkControl('image', 'required') ) {
        <p class="error">Campo requerido</p>
       }
       @if(checkControl('image', 'pattern')) {
        <p class="error">el fórmato no es válido, añade la url de la imagen</p>
       }
        </div>
       <input type="submit" class="btn btn-secondary  mt-3" [value]="boton" 
       [disabled]="!formModel.valid">

    </form>

</section>