.container {
    padding-bottom: 100px;
}

label {
    margin-top: 15px;
    font-weight: bolder;
}

form {
    padding-left: 10px;
    padding-bottom: 50px;
}

input.ng-invalid.ng-touched {
    border-bottom: 2px solid red;
}
input.ng-valid.ng-touched {
    border-bottom: 2px solid rgb(0, 255, 76);
}

.error{
    font-size: 80%;
    color: red;
    margin: 0 0 0 10px;
}
